spring:
  datasource:
    url: jdbc:h2:mem:msgengine;MODE=Oracle
    driver-class-name: org.h2.Driver
    username: sa
    password:
  sql:
    init:
      mode: always

logging:
  level:
    com.yourorg.msgengine: DEBUG
